<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Cadastrar</a></li>
            <li> <a href="/livros">ver todos</a></li>
        </ul>
    </nav>

    {{{body}}}
</body>
</html>